*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Bold.ttf");
}

// Variables

 // Fonts
$font-paragraph:16px;
$font-banner-paragraph:18px;


// Heading fonts
$h1-font:50px;


// Background colors
$b-grd-color-light-gray:#2d3e50;
$b-grd-color-aq:#1bbc9b;
$b-grd-color-darkgray:#1B252F;

// Other Colors
$white:#ffffff;
$black:#000000;

// Lines
$base-width:70px;


// Border-solids-lines
$linetwo:2px;

// Border-icons
$lineone:1px;

.navigation.scrolled{
    background-color: rgb(166, 167, 168);
    opacity: 100%;
}
.navigation.scrolled.nav a{
    color: greenyellow;

}

@mixin navigation{
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.6s ease-in-out; 
    font-family: Montserrat;
    background-color: $b-grd-color-light-gray;
   
    .container{
        display: flex;
        justify-content:space-between;
        align-items: center;

    }

    p{
        font-size: $font-banner-paragraph;
        color: $white;
        font-weight: bolder;
        margin-top: 10px;
    }

    a{
       margin-left: 20px;
       font-size: 18px;
       text-decoration: none;
       color: $white;
       transition:color 0.6s ease-in-out;

   }

   .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -23px;
    right: 1px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

}

.navigation{
    @include navigation;
}


@mixin banner{
    font-family: Montserrat;
    background-color:$b-grd-color-aq;
    padding-top: 80px;
    padding-bottom: 90px;

    img{
        width: 100%;
        height: 35vh;
        margin-bottom: 30px;
      
    }
    .head{
        text-align: center;
    }

    p{
  
      font-size: $font-paragraph;
      color: $white;
      margin: 12px;
    
}

   h1{
      font-size: 50px;
      color: white;
}

.line{
    margin-bottom: 8px;
    width:70px;
    border: $linetwo solid $white;
       
 }

   span{
      display: inline-block;
      margin: 5px;

 }

   .line2{
       width:70px;
       border: $linetwo solid $white;
       margin-bottom: 8px;
    
 }

}

  .banner{
    @include banner;
  }

@mixin portfolio{
    font-family: Montserrat;
    padding-top: 67px;
    margin-bottom: 70px;

    h2{
       margin-bottom: 12px; 
       
    }

    .head{
        text-align: center;
    }

    .images{
        padding-bottom: 15px;
    }


    img{
     
        height: 40vh;
    }
    .row{
        padding: 4px;

    }

    .line{
        width: $base-width;
        border: $linetwo solid $black;
        margin-bottom: 8px;
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
    .line2{
        width: $base-width;
        border:$linetwo solid $black;
        margin-bottom: 8px;
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
}
.portfolio{
    @include portfolio;
}

// .about-p {
//  display: flex;
//  justify-content: space-between;
// }

@mixin about{
    font-family: Montserrat;
    padding-top: 67px;
    padding-bottom: 70px;
    background-color: $b-grd-color-aq;
    display: flex;
    justify-content: space-between;

   .star{
       text-align: center;
       color: $white;
}

p{

    font-size: 18px;
    width: 362px;
}

.olla{
    margin-left: 125px;

}

.row{
    margin-left: 52px;
    margin-right: 52px;
    color: $white;
    
}

    .col6{
        padding: 12px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
       
       
    }

   a{
       text-decoration: none;
       background-color: "";
       width: 180px;
       text-align: center;
       padding: 10px;
       color: $white;
       border:$lineone solid;
   
   }

  .line{
     width:$base-width;
     border: $linetwo solid $white;
     margin-bottom: 8px;
    
 }

   span{
      display: inline-block;
      margin: 5px;
 }

   .line2{
     margin-bottom: 8px; 
     width:$base-width;
     border: $linetwo solid $white;
   
 }
 span{
    display: inline-block;
    margin: 5px;
 }
     
}

.about{
    @include about;
}


@mixin footer{
    font-family: Montserrat;
   background-color: $b-grd-color-light-gray;
   padding-top: 70px;
   padding-bottom: 40px;
   color: $white;

    .blue{
        color: $b-grd-color-aq;
    }

p{
    text-align: center;
}

h4{
    text-align: center;
    font-size: 24px;
}
   
i{
    background-color: "";
    padding: 12px;
    border-radius: 50%;
    border: $lineone solid $white;
    margin: 6px;
   
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.dada{

    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

}

 .footer{
    @include footer;
 }




@mixin contact{
    font-family: Montserrat;
    text-align: center;
    padding-top: 43px;
   
    // .container{
    //     // margin-left: 150px;
    //     // margin-right: 150px;
        
    // }
   
    a{
       text-decoration: none;
       color: $white;
    }
    .send{
      margin-top: 30px;
        padding: 10px; 
        background-color: $b-grd-color-aq;
        width: 80px;
        border-radius: 5px;
        margin-bottom: 50px;
      
    }
    .row{
  margin-left: 100px;
  margin-right: 200px;
    }
h2{
    margin-bottom: 4px;
    margin-left: 135px;
   
}

.line{
    width:$base-width;
    border: $linetwo solid $black;
    
    margin-bottom: 8px;
    margin-left: 135px;
 }
 span{
    display: inline-block;
    margin: 5px;
 }

.line2{
    width:$base-width;
    border: $linetwo solid $black;
    
    margin-bottom: 8px;
 }
 span{
    display: inline-block;
    margin: 5px;
 }
 .form-control{
    padding: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
 }


 .message{
   border-top: none;
   border-left: none;
   border-right: none;
    padding: 22px;
    // font-size: 24px;
 }
 
.forms{
    padding-top: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.con{
    margin-right:100px;
}



     
}

.contact{
    @include contact;
}

// copy
@mixin copy{
    font-family: Montserrat;
    text-align: center;
   p{
    background-color: $b-grd-color-darkgray;
    padding: 15px;
    color: $white;
    font-size: 8px;
   }
    
}

.copy{
    @include copy;
}


@media (max-width: 576px){

  h2{

    font-size: 22px;

    }

    .navigation{

            .container{
                height: 60px;
            }

        p{

            font-size: 18px;

        }

     

    }

    
        
  .banner{
    padding-top: 27px;
    padding-bottom: 20px;
    // overflow: hidden;

        img{

         height: 22vh;

        }

        h1{

        font-size: 24px;

        }

        .icon{

         font-size: 10px;

        }

        p{

         font-size: 16px;

        }

    }
        
.portfolio{

    padding-top: 40px;
    padding-bottom: 34px;
    // overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;

    // .allpics{

    //     // display: none;
    // }

    img{

    width: 300px;
    height: 30vh;
    object-fit: cover;
    // margin-top: 0px;
    padding-bottom: 0px;
    margin-top: 23px;

}

.images{

    padding-bottom: 0px;
}

  .col-md-4{

     margin: 0px;
     padding: 0px;
           
 }
           
  .g-4{

     margin: 5px;

     }

    // .contpics{

    //     // padding-top: 16px;

    //  }



}
        
.about{
   padding-top: 40px;
   padding-bottom: 40px;
//    overflow: hidden;

      p{
        font-size: 14px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0px;
        padding-bottom: 20px;
        // width: 0px;

    }

    .olla{
        margin-left: 0px;
        // width: 0px;
    }
           
            .row{
                margin-left: 0px;
                margin-right: 0px;
                color: white;
            }

            .col6{
                padding: 2px;
            }
            a{
                font-size: 14px;
                width: 148px;
                padding: 6px;
            }
            .button{
                padding-top: 10px;
            }
        }
        
        .contact{
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            // overflow: hidden;

            .container{
                margin-left: 0px;
                margin-right: 0px;
                
            }
         
         .form-control {

           width: 312px; 
           margin-right: 0px;
           font-size: 16px;
           padding: 20px;
          
           
          }

          h2{

            margin-left: 0;
          }

          .line{

            margin-left: 0;
          }
          
          .row{
            margin-left: 0px;
            margin-right: 0px;
                }

         .con{
            margin-right: 0px;
         }

         .forms{
            text-align: center;
         }

         .message{
            width: 312px;
            padding: 10px;
            font-size: 16px;
            padding-left: 22px;
         }

         .container{
            padding: 0px;
         }

         .send{
           margin-bottom: 0px;
            margin-top: 10px;
            font-size: 20px; 
            width: 62px;
            padding: 5px;
            margin-left: 22px;
         }

        }
        
        .footer{
           padding-top: 40px;
           padding-bottom:15px;
        
            h4{
                font-size: 16px;
            }

            p{
                font-size: 14px;
                margin-bottom: 34px;
            }

            i{
                padding: 5px;
                
            }

            .icons{
                padding-bottom: 34px;
            }

            .row{
                display: flex;
                flex-direction: column;
              justify-content: center;
              align-items: center;
            }

        }
        
        .copy{

            font-size: 8px;

        p{

            padding: 10px;
            font-size: 10px;
            // padding-bottom: 21px;

        }

        .fa{
            font-size: 10px;
        }
        
        }


}


@media only screen and (min-width: 578px ) and (max-width:768px) {

    .navigation{

        .hamm{
            display: none;
        }
        .container{

            padding: 20px;
        }

        p{

            font-size: 21px;

        }

        a{

            font-size: 18px;
        }

    }

.banner{

    img{

        height: 28vh;
    }

}

.portfolio{

    img{

        height: 15vh;

    }

}

.about{

    p{

        font-size: 12px;
        width: 268px;

    }

    .olla{
        margin-left: 43px;
        width: 242px;
    }

    .container{
        padding: 0px;

    }

}

.contact{

    .container{

        margin-left: 57px;

    }

    .form-control{

        width: 410px;

    }

    h2{

        margin-left: 53px;
    }

    .line{

        margin-left: 54px;
    }

    .message{

        width: 410px;

    }

}

.footer{

    .container{

        margin-right: 45px;
    }

    p{

        font-size: 11px;

    }

    h4{

        font-size: 18px;

    }

}

}


@media(max-width:576px) {

    .nav{
        display: none;
      }

}

@media(min-width:768px){
    
    .hamm{
        display: none;
    }

}



@media only screen and (min-width: 993px ) and (max-width:1024px){

    .navigation{

        a{
            font-size: 22px;
            padding: 20px;

        }

        p{
            font-size: 27px;

        }

    }

    .banner{

        img{

            height: 25vh;

        }

        p{

            font-size: 22px;
        }

    }

    .portfolio{

        img{

            height: 15vh;
        }

    }

    .about{

        p{
            width: 386px;
        }

        .olla{

            margin-left: 22px;
            width: 362px;
        }
    }

    .contact{

        .message{

            width: 600px;
            font-size: 25px;
        }

        .form-control{

            font-size: 24px;
        }

        a{

            font-size: 24px;
        }

    }


}

@media only screen and (min-width:1399.98px)  {


    .portfolio{

         .row {
            padding: 0px;

         }


        img{
            height: 36vh;
        }

    }

    .contact{

        .message{
            width: 967px;
        }
        
    }
    
}